schema/alix.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar
  xmlns="http://relaxng.org/ns/structure/1.0" 
  ns="https://oeuvres.github.io/alix" 
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  xml:lang="en"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" 
  xmlns:h="http://www.w3.org/1999/xhtml"
>
  <a:documentation>Alix: Relax NG schema for XML ingested into a Lucene index</a:documentation>
  <div xmlns="http://www.w3.org/1999/xhtml">
    <p>
      This Relax-NG schema defines the XML tags understood by Alix to ingest text documents (articles, books…) in a <a href="https://lucene.apache.org/core/">Lucene</a> index.
    </p>
    <p>Let's start by the kind of XML understood by Alix.</p>
    <a:example>
<alix:set xmlns:alix="https://oeuvres.github.io/alix">
  <alix:document xml:id="docid1">
    <alix:field name="title" type="text">First document</alix:field>
    <alix:field name="year" type="int" value="2019"/>
    <alix:field name="text" type="text">
      Le petit chat est mort.
    </alix:field>
  </alix:document>
  <alix:document xml:id="docid2">
    <alix:field name="title" type="text">Second document</alix:field>
    <alix:field name="year" type="int" value="2019"/>
    <alix:field name="text" type="text">
      <p>La <i>petite</i> chatte est morte.</p>
    </alix:field>
  </alix:document>
  <alix:book xml:id="bookid1">
    <alix:field name="title" type="text">Book title</alix:field>
    <alix:field name="author" type="facet">Surname, Firstname</alix:field>
    <alix:field name="toc" type="store">
      <ul>
        <li>1) Chapter 1</li>
        <li>2) Chapter 2</li>
      </ul>
    </alix:field>
    <alix:field name="year" type="int" value="2019"/>
    <alix:chapter>
      <!-- Useful metas for an application should be replicated, example facet  -->
      <alix:field name="author" type="facet">Surname, Firstname</alix:field>
      <alix:field name="text" type="text">
        <p>First chapter text</p>
      </alix:field>
    </alix:chapter>
    <alix:chapter>
      <alix:field name="author" type="facet">Surname, Firstname</alix:field>
      <alix:field name="text" type="text">
        <p>Second chapter text</p>
      </alix:field>
    </alix:chapter>
  </alix:book>
</alix:set>
    </a:example>
    <p>
Like other Lucene indexing platforms, Alix borrows some concepts from <a href="https://lucene.apache.org/solr/">Solr</a>,
but also, a less known but older open source product <a href="http://savannah.nongnu.org/projects/sdx/">SDX</a> (2001–…),
on which worked the creators of Alix.
    </p>
    <p>
Unlike Solr, Elasticsearch and similar tools, Alix does not need a configuration file that closes 
the number, names and types of fields before indexing.
The declaration of fields is done at indexing time, allowing fields to be added when documents need them.
The user of the Alix library knows what was indexed, and therefore what can be retrieved.
    </p>
    <p>
Alix is XML friendly. Contents of fields can be clean HTML ready to display in a web application,
all Alix analyzers and searching helpers know how to deal with tags and avoid to break them.
    </p>
    <p>
The proposed field types describe indexing uses understandable by an application developer (full text, lexical metadata, exact classifier, multi-valued facet, integer, stored payload), not the full complexity of Lucene internals.
Alix maps these logical types to Lucene field implementations and analyzers.
    </p>
    <p><strong>Global rule:</strong> all fields are stored. <code>@type</code> describes indexing/query/analysis behavior only.</p>
<p><strong>Legend:</strong> empty cell = absent / not supported by default · ✓ = yes · ~ = possible but not default</p>

<table>
  <thead>
    <tr>
      <th><code>@type</code></th>
      <th>Cardinality</th>
      <th>Content</th>
      <th>Exact filter</th>
      <th>Lexical search</th>
      <th>Full-text</th>
      <th>Sort (default)</th>
      <th>Range</th>
      <th>Analysis</th>
      <th>Lemma</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><code>store</code></th>
      <td>0..n</td>
      <td>XML/HTML</td>
      <td>✓</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>none</td>
      <td></td>
    </tr>
    <tr>
      <th><code>int</code></th>
      <td>0..n</td>
      <td>@value="numeric"</td>
      <td></td>
      <td>✓</td>
      <td></td>
      <td></td>
      <td>✓</td>
      <td>✓</td>
      <td>numeric parse</td>
      <td></td>
    </tr>
    <tr>
      <th><code>category</code></th>
      <td>0..1 (ideal)</td>
      <td>@value="string"</td>
      <td></td>
      <td>✓</td>
      <td></td>
      <td></td>
      <td>✓</td>
      <td></td>
      <td>keyword normalization</td>
      <td></td>
    </tr>
    <tr>
      <th><code>facet</code></th>
      <td>0..n</td>
      <td>@value="string"</td>
      <td></td>
      <td>✓</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>keyword normalization</td>
      <td></td>
    </tr>
    <tr>
      <th><code>meta</code></th>
      <td>0..n</td>
      <td>✓</td>
      <td>✓</td>
      <td></td>
      <td>✓</td>
      <td></td>
      <td></td>
      <td></td>
      <td>tokenization + normalization (light)</td>
      <td></td>
    </tr>
    <tr>
      <th><code>text</code></th>
      <td>0..n</td>
      <td>✓</td>
      <td>✓</td>
      <td></td>
      <td>~</td>
      <td>✓</td>
      <td></td>
      <td></td>
      <td>HTML-aware full-text + offsets</td>
      <td>fr</td>
    </tr>
  </tbody>
</table>

<p><strong>Notes:</strong> <code>facet</code> sort is technically possible in Lucene (selector on multi-valued field), but not enabled by default because semantics are ambiguous for users. <code>meta</code> is intentionally non-lemmatized and language-agnostic (default). <code>text</code> currently means French-quality linguistic indexing (<code>fr</code>); other languages require dedicated work.</p>
<p><em>* Help required to support other languages with quality comparable to French.</em></p>
    <p>
According to Lucene model, there are 3 levels of objects inside Alix.
    </p>
    <ul>
      <li><a:el>field</a:el>, corresponding to a lucene 
        <a href="https://lucene.apache.org/core/8_7_0/core/org/apache/lucene/document/Field.html">Field</a>.
        A field has a name, a type, and a content.
        Alix defines a limited set of types, dedicated to text documents, content depends on type.
      </li>
      <li><a:el>document</a:el>, a set of <a:el>field</a:el>s corresponding to a lucene 
        <a href="https://lucene.apache.org/core/8_7_0/core/org/apache/lucene/document/Document.html">Document</a>
      </li>
      <li><a:el>chapter</a:el>, a set of <a:el>field</a:el>s corresponding to a lucene 
        <a href="https://lucene.apache.org/core/8_7_0/core/org/apache/lucene/document/Document.html">Document</a>, like <a:el>document</a:el>, but appears inside a <a:el>book</a:el>.</li>
      <li><a:el>book</a:el>, is a convenient set of <a:el>chapter</a:el>s, 
        this unit is handled at application level for faceting results, or defining a corpus.</li>
    </ul>
  </div>
  <start>
    <a:documentation>The root element could be a single <a:el>document</a:el>, a <a:el>book</a:el>, or 
      a <a:el>set</a:el> (containing <a:el>document</a:el>s and <a:el>book</a:el>s).</a:documentation>
    <choice>
      <ref name="set"/>
      <ref name="book"/>
      <ref name="document"/>
    </choice>
  </start>
  <define name="set">
    <element name="set">
      <a:documentation>A set of <a:el>book</a:el>s or <a:el>document</a:el>s.</a:documentation>
      <oneOrMore>
        <choice>
          <ref name="book"/>
          <ref name="document"/>
          <ref name="article"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
    <define name="docid">
    <attribute name="xml:id">
      <a:documentation>String identifier, unique in the index.</a:documentation>
      <data type="NCName"/>
    </attribute>
  </define>
  <define name="book">
    <element name="book">
      <a:documentation>A set of <a:el>chapter</a:el>s. A book can also contain <a:el>field</a:el>s (ex: title, author, date…).
      There is no inheritance of fields between books and chapters, to avoid non desired replication (ex: a table of contents of a full book).
      A String identifier, unique for the base, is required for a permanent access to a book.
      The identifier of chapters will be automatically calculated by Alix (identifier of book + a counter starting at 001).
      </a:documentation>
      <ref name="docid"/>
      <zeroOrMore>
        <ref name="field"/>
      </zeroOrMore>
      <oneOrMore>
        <ref name="chapter"/>
      </oneOrMore>
    </element>
  </define>
  <define name="chapter">
    <element name="chapter">
      <a:documentation>A set of <a:el>field</a:el>s, like a <a:el>document</a:el>, except it has to be inside a <a:el>book</a:el>.</a:documentation>
      <oneOrMore>
        <ref name="field"/>
      </oneOrMore>
    </element>
  </define>
  <define name="article">
    <element name="article">
      <a:documentation>A set of <a:el>field</a:el>s, alias for <a:el>document</a:el>.</a:documentation>
      <ref name="docid"/>
      <oneOrMore>
        <ref name="field"/>
      </oneOrMore>
    </element>
  </define>
  <define name="document">
    <element name="document">
      <a:documentation>A set of <a:el>field</a:el>s.</a:documentation>
      <ref name="docid"/>
      <oneOrMore>
        <ref name="field"/>
      </oneOrMore>
    </element>
  </define>
  <define name="field">
    <choice>
      <ref name="field-text"/>
      <ref name="field-meta"/>
      <ref name="field-store"/>
      <ref name="field-int"/>
      <ref name="field-category"/>
      <ref name="field-facet"/>
    </choice>
  </define>
  <define name="field-text">
    <element name="field">
      <a:documentation>
Full text to search with advanced lexical features (for example lemma/normalization, phrase positions, offsets, co-occurrences, snippets).
XML/HTML tags are allowed as element content (well-formed XML fragment in this schema).
Content is also stored for display, highlighting of occurrences, and relevant excerpts.
This type is heavy (positions, offsets, term vectors...).
If you need only lightweight token search (for example bibliographic strings), prefer @type="meta".
      </a:documentation>
      <ref name="name"/>
      <attribute name="type">
        <value>text</value>
      </attribute>
      <ref name="xml"/>
    </element>
  </define>
  <define name="field-meta">
    <element name="field">
      <a:documentation>
Text (or XML) indexed as lightweight lexical tokens, without the heavy linguistic/full-text features of @type="text".
Typical use: bibliographic citations, identifiers embedded in text strings, names, short metadata fields searchable by token.
      </a:documentation>
      <ref name="name"/>
      <attribute name="type">
        <value>meta</value>
      </attribute>
      <choice>
        <attribute name="value"/>
        <ref name="xml"/>
      </choice>
    </element>
  </define>
  <define name="field-store">
    <element name="field">
      <a:documentation>Payload stored only (no search, no sort), either as a string in @value or as nested XML content.
        Use for any application data the developer wants back as-is (URL, local TOC, pre-rendered citation, rights block, UI fragments...).</a:documentation>
      <ref name="name"/>
      <attribute name="type">
        <value>store</value>
      </attribute>
      <choice>
        <attribute name="value"/>
        <ref name="xml"/>
      </choice>
    </element>
  </define>
  <define name="field-int">
    <element name="field">
      <a:documentation>A signed integer value (for example year or sequence), unique by field name within a document.
      Used for sorting, numeric queries, and retrieval (also available as a stored field).</a:documentation>
      <ref name="name"/>
      <attribute name="type">
        <value>int</value>
      </attribute>
      <attribute name="value">
        <data type="int"/>
      </attribute>
    </element>
  </define>
  <define name="field-category">
    <element name="field">
      <a:documentation>A single exact string value (0..1 by document for a given field name), used as a classifier/category.
      Alix chooses the Lucene implementation; application code treats it as one exact value per document (also retrievable).</a:documentation>
      <ref name="name"/>
      <attribute name="type">
        <value>category</value>
      </attribute>
      <attribute name="value"/>
    </element>
  </define>
  <define name="field-facet">
    <element name="field">
      <a:documentation>A set of exact string values (0..n by document for a given field name), used for faceting/filtering the collection.
      Alix chooses the Lucene implementation; application code treats it as a multi-valued classifier (also retrievable).</a:documentation>
      <ref name="name"/>
      <attribute name="type">
        <value>facet</value>
      </attribute>
      <attribute name="value"/>
    </element>
  </define>
  <define name="name">
    <attribute name="name">
      <a:documentation>Field name is required.</a:documentation>
      <data type="NCName"/>
    </attribute>
  </define>
  <define name="xml">
    <a:documentation>XML fragment content (mixed text/elements). In this schema the fragment must be well-formed.</a:documentation>
    <oneOrMore>
      <choice>
        <text/>
        <ref name="el"/>
      </choice>
    </oneOrMore>
  </define>
  <define name="el">
    <element>
      <anyName/>
      <zeroOrMore>
        <choice>
          <attribute>
            <anyName/>
          </attribute>
          <text/>
          <ref name="el"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
</grammar>
